// colors.scss

// Primary Colors
$primary-color: #2ecc71; // Blue

// Text Colors
$text-color: #333; // Dark Gray
$text-light-color: #fff; // White

// Background Colors
$background-color: #ecf0f1; // Light Gray
$background-dark-color: #34495e; // Dark Blue
