@import "./styles/colors.scss";

body {
    background-color: $background-light-color;
    font-family: "Arial", sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
}

.upgrades {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.clicker {
    margin: 0 auto;
}
